
<%#= link_to 'Admin', admin.new_article_path %>
	<% @articles.each do |article| %>
	<div class="blog-post">
	<h2 class="blog-post-title"><%= link_to article.title, article_path(article) %></h2>
	<p><%= article.text %></p>
</div>
	<% end %>

