<%- model_class = Article -%>
<div class="page-header">
<div class="blog-post">

    <% @articles.each do |article| %>
      <p></p>	  
	  <h2 class="blog-post-title"><%= link_to article.title, article_path(article) %> <p></p>
	  <p>
		  <%= image_tag article.image.url(:medium) if !article.image_file_name.nil? %>
	 
	  </p>
	  <p></p>
	   <p><%= article.text %></p>
    <% end %>
	

</div>

</div>
